:root {
    --main_color: #51a8d8;
    --modal_color: #f0f0f0;
    --input_color: #c9e2f9;
    --component_color: #2a5c84;
    --font_color: #051a25;
    --link_color: #393ffc;
    --link_color_hover: #00e1ff;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.244);
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

body.dark-mode {
    --main_color: #003b58;
    --modal_color: #1d1d1d;
    --input_color: #273142;
    --component_color: #152533;
    --font_color: #fff;
}

body::before{
    display: block;
    content: " ";
    width: 100%;
    min-height: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom ,var(--main_color), var(--modal_color));
    top: 0;
    z-index: -2;
}
body::after{
    display: block;
    content:" ";
    width: 100%;
    height: 100%;
    background-image: url('../public/animate_background.gif');
    background-size: cover;
    filter: opacity(0.1);
    position: fixed;
    top:0;
    z-index: -1;
}

ul {
    list-style: none;
}

a {
    color: var(--link_color);
    text-decoration: none;
    transition: 0.4s linear;
}

a:hover {
    color: var(--link_color_hover)
}

* input {
    background-color: var(--input_color);
    margin: auto;
    height: 30px;
    color: var(--font_color);
    border: none;
    border-radius: 10px;

}

* input:-webkit-autofill {
    border: none;
    color: var(--font_color);
    border-color: initial !important;
    border-style: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0 0 0 1000px var(--input_color) inset !important;
    -webkit-text-fill-color: var(--font_color) !important;

}