:root {
    --main_color:#28488ca5;
    --modal_color: #ffffff;
    --input_color: #dfe3ee;
    --component_color:  #3b5898ad;
    --font_color: #1d2129;
    --link_color: #0a5b9a;
    --link_color_hover: #6d84b4;
    --chat_color:#ffffff;
  }

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.244);
    width: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

body.dark-mode {
    --main_color: #003b58;
    --modal_color: #1d1d1d;
    --input_color: #273142;
    --component_color: #152533c2;
    --font_color: #fff;
    --link_color: #0091ff;
    --link_color_hover: #6898ff;
    --chat_color:#2f71ff;
}

body::before {
    display: block;
    content: " ";
    width: 100%;
    min-height: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom, var(--main_color), var(--modal_color));
    top: 0;
    z-index: -2;
   
}

body::after {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapercosmos.com/w/full/1/e/d/1143164-3840x2160-desktop-4k-robot-background-image.jpg');
    background-size: cover;
    filter: opacity(0.08);
    position: fixed;
    top: 0;
    z-index: -1;
}



ul ,li{
    list-style: none;
    list-style-position: inside;
    list-style-type: none;
}

a {
    color: var(--link_color);
    text-decoration: none;
    transition: 0.4s linear;
}

a:hover {
    color: var(--link_color_hover);
    text-decoration: underline;
}

* input,textarea {
    background-color: var(--input_color);
    margin: auto;
    height: 30px;
    color: var(--font_color);
    border: none;
    border-radius: 10px;

}

* input[type="file"] {
    display: none;
}

* input:-webkit-autofill {
    border: none;
    color: var(--font_color);
    border-color: initial !important;
    border-style: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0 0 0 1000px var(--input_color) inset !important;
    -webkit-text-fill-color: var(--font_color) !important;

}
