/*content*/
.content {

    min-height: 100vh;
    position: relative;
}

.section, .sectionChat {
    position: absolute;
    right: 0;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    color: var(--font_color);

    min-height: 100%;
    z-index: 1;

    background-size: 100%;

    background-repeat: no-repeat;


}

.sectionChat {
    width: 75%;
    background-color: #00000029;
}

.sectionChat h1 {
    text-align: center;
}

.section h1 {

    background-color: var(--component_color);
    margin: 0;
    margin-bottom: 10px;
    border-radius: 0 0 0 100px;
    box-shadow: 4px 4px 8px #000;
    box-sizing: border-box;
    padding-left: 40px;
    text-align: left;
    font-size: 24px;
    width: 100%;

}

.section>p {

    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.aside, .asideChat {
    width: 15%;
    top: 0;
    position: fixed;
    text-align: center;
    height: 100%;
    background-color: var(--component_color);
    box-shadow: 3px 3px 3px #000;
    color: var(--font_color);
    overflow-y: scroll;
    z-index: 4;
    padding: 0;
}

.asideChat {
    width: 25%;
}

.aside ul, .asideChat ul {

    width: 100%;

    margin: auto;
    padding: 0;
}



.aside li, .asideChat li {
    display: flex;
    width: 100%;
    height: 60px;



    font-weight: bold;
    box-sizing: border-box;
    transition: 0.4s linear;
    color: var(--font_color);
    border-style: none;
    font-size: 14px;
}

.aside li a, .asideChat li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font_color);
    width: 100%;
    height: 100%;

}

.aside li svg {
    margin-right: 10px;
}

.aside li:hover,
.aside button:hover,
.asideChat li:hover,
.asideChat .btnLeft:hover,
.asideChat button:hover {
    cursor: pointer;
    background-color: #0000005d;

}

.asideChat li {
    margin-bottom: 4px;
}

.chatBarr li a {

    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;

    border-radius: 10px;
    background-color: #00000033;
}

.chatBarr li a img {
    margin-right: 10px;
    border-radius: 100%;
}

.chatBarr li a span {
    display: block;
    text-align: left;
}

.chatBarr .groupProfile {
    border-radius: 10px;
    position: relative;
}

.chatBarr .memberGroup {
    position: absolute;
    left: 20px;
    bottom: 0;
    box-sizing: border-box;
    border: 2px solid var(--main_color)
}

.nameChat {
    margin-top: 10px;
    font-size: 16px;

}

.lastmessage {
    font-weight: normal;
    font-size: 14px;
    text-align: left;

}

.chatSession {
   padding-top: 50px;
   position: relative;
}

.chatSession .headerChat {
    position: fixed;
    width: 75%;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 0;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--component_color);
}

.msg {
    max-width: 40%;
    display: flex;
    background-color: var(--chat_color);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;

}
.msg audio{
   width: 100%;
}
.videoContent, .imageContent, .stickerContent {
    width: 100%;
    overflow: hidden;



}

.videoContent video, .imageContent img, .stickerContent img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.profile {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: var(--modal_color);
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid var(--main_color);

}

.botProfileChat {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #0000004b;
    padding: 4px;
    padding-bottom: 10px;

    margin-bottom: 40px;
    position: relative;

}


.botProfileChat img {
    border-radius: 100%;
    border: 3px solid var(--main_color);
    position: relative;
}

.botProfileChat::before {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    border-radius: 100%;
    z-index: 1000 !important;
    left: 50px;
    top: 40px;
}

.botProfileChat span {
    display: block;
    margin-left: 10px;
}

.profile img>.profile img.groupProfile {
    width: 100%;
    height: auto;
    transition: linear 0.3s;
}



/*login*/
.login {
    background-color: var(--modal_color);
    width: 40%;
    min-height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 10px 10px #000;
}

.login div {
    width: 80%;
    margin-top: 10px;
    margin: auto;
    text-align: center;


}

.login label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: var(--main_color);

}

.editForm, .botForm, .commandForm {
    max-width: 700px;
    margin: auto;
    background-color: var(--modal_color);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative
}

.botForm {
    width: 100%;
}

.botForm .blocks, .commandForm .blocks {
    display: flex;
}

.commandForm .blocks {
    flex-direction: column;
    width: 100%;
}

.commandForm .blocks input {
    width: 50%;
}

.commandForm .blocks textarea {
    width: 80%;
    height: 140px;
    resize: none;
}

.botForm .blocks .block {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--modal_color);
    box-shadow: none;
    width: 50%;
    backdrop-filter: initial;
    border-radius: 0%;

}

.botForm .blocks .block:nth-of-type(1) {
    padding-right: 10px;
    border-right: 2px solid var(--component_color);
}

.imageBotProfile {
    border: 5px solid var(--component_color);
    border-radius: 100%;
}

.editForm input, .botForm input {
    min-width: 300px;
}



.input_view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input_color);
    border-radius: 10px;
    width: 200px;
}

.input_view input {
    border: none;
    border-radius: 0px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.input_view svg {
    color: var(--font_color)
}

.login button {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--main_color);
    color: var(--font_color);
    font-weight: bold;
    transition: 0.3s linear;

}

.login span, .editForm span, .botForm span, span.error {
    display: block;
    margin: auto;
    margin-top: 10px;
    color: #ff0000;
    background-color: #ec9696;
    width: 60%;

    margin-top: 5px;
    padding: 2px;
    border-radius: 10px;

}

.editForm span {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.login a {
    margin: 20px
}

.btn_activate {
    color: var(--main_color)
}

.btn_activate:hover {
    cursor: pointer;
}

/*profile edit*/
.editForm, .botForm {
    width: 100%;

}

.editForm div, .botForm div {
    margin-top: 20px;
}

.editForm label {
    color: var(--main_color);
    margin-right: 10px;
    font-weight: bold;
}

.editForm input {
    width: 30%;
}

.editForm input[type="file"] {
    display: none;
}

.editForm button, .botForm button:not(.closbtn), .commandForm button:not(.closbtn, .btnPlus) {
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: var(--main_color);
    border: 0.1px solid var(--component_color);
    border-radius: 20px;
    color: var(--font_color);
    transition: 0.3s linear;
}

.profileEdit {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--modal_color);
    margin: auto;

}

.profileEdit img {

    transition: 0.2s linear;
    margin: auto;
    position: relative;
}

.profileEdit img:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: grayscale(100%)
}

.login button:hover, .editForm button:hover, .botForm button:hover, .commandForm button:hover {
    cursor: pointer;
    background-color: var(--component_color);
}

.controlTheme, .btnLeft {

    position: absolute;

    top: 0;
    left: 0;
    width: 35px;
    height: 35px;

    color: var(--font_color);
    border: none;
    background-color: #00000000;
    transition: 0.1s linear;
    border-radius: 10px;
}

.btnLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
}

.controlTheme svg, .btnLeft svg {
    width: 100%;
}

/*blocks*/
.blocks {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-gap: 10px;
    text-align: center;



}

.block, .block_normal, .blockPlus {

    margin: auto;
    margin: 4px;
    background-color: var(--modal_color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 4px;
    box-shadow: 4px 4px 2px #000;
    text-align: center;
    backdrop-filter: blur(5px);
}

.blockPlus {
    min-height: 300px;
    background-color: #00000038;
    box-shadow: none;
    border: 4px dashed var(--font_color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.blockPlus:hover {
    cursor: pointer;
    color: var(--link_color_hover);
    border-color: var(--link_color_hover);
    padding: 20px;
}

.blockPlus svg {
    transition: 0.2s linear;
}

.blockPlus:hover svg {
    transform: rotate(180deg);
}

.block_normal {
    overflow: hidden;

}

.block_normal img {
    width: 50%;
    border-radius: 100%;
    border: 5px solid var(--component_color);
    transition: 0.5s linear;

}

a.block_normal:hover img {
    border-color: var(--link_color_hover);
    transform: scale(1.05);
}

.block:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.botDiv {
    width: 100%;
    display: flex;

}

.botDiv .botInfo {
    width: 80%;
    font-size: 18px;
    border-left: 2px solid var(--font_color);

}

.botDiv .centeredDiv {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botDiv .botInfo ul li {
    margin: 10px;
    display: flex;

    align-items: center;
}

li .loadText, .botInfo li input {
    display: inline-block;
    margin: 0;
    width: 100px;
}

.botInfo li strong {
    margin-right: 5px;
}

.botInfo button, .centeredDiv button {
    margin: 4px;
    background-color: var(--input_color);
    color: var(--font_color);
    border: var(--font_color) 1px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s linear;
}

.botInfo button:hover, .centeredDiv button:hover {
    background-color: var(--main_color);
    cursor: pointer;
}

.errorPage {
    width: 50%;
    background-color: var(--modal_color);
    color: var(--font_color);
    margin: auto;
    text-align: center;
    margin-top: 5%;
    min-height: 250px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 3px 3px #000;
}

.activeItem {
    background-color: rgba(0, 0, 0, 0.365);
    color: #fff;
}

.comands {
    width: 100%;

}

.comands ul li {

    font-size: 18px;
    margin: 0;
    margin-top: 15px;
    background-color: #00000034;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.comands ul li strong {
    background-color: green;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}

.comands select {
    width: 25%;
    margin-left: 40px;
    padding: 5px;
    border-radius: 5px;
}

.control {
    margin-left: 10px;
}

.control button {
    background-color: #00000000;
    border: none;
    transition: 0.4s linear;
    color: var(--font_color)
}

.control button:hover {
    cursor: pointer;
    rotate: 45deg;

}

.explanation {
    width: 70%;
    margin-left: 10px;
}

.createCommand {
    padding: 5px;
    width: 100%;
    border: 1px dashed var(--font_color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
}

.createCommand svg {
    transition: 0.5s linear;
}

.createCommand:hover {
    cursor: pointer;
    background-color: var(--main_color);
}

.createCommand:hover svg {
    rotate: 360deg;
}

@keyframes loadText {
    0% {
        filter: opacity(1)
    }

    50% {
        filter: opacity(0)
    }

    100% {
        filter: opacity(1)
    }
}

/*global class*/
.loadText {
    display: block;
    width: 50%;
    background-color: #00000064;
    height: 24px;
    margin: auto;
    border-radius: 20px;
    animation: loadText 1s infinite;

}

h1 .loadText {
    width: 30%;
    margin: 0;
}

.invisible {
    display: none;
}

.widowclos {
    padding: 2px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #00000043;
}

.closbtn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    position: absolute;
    z-index: 10 !important;
    border: none;
    background-color: var(--main_color);
    color: var(--font_color);
    transition: 0.2s linear;
    top: 0;
    left: 0;
}


.closbtn:hover {
    cursor: pointer;
    background-color: var(--component_color);
}

.modalAlert {
    display: none;
}

.btnPlus {
    color: var(--font_color);
    width: 40%;
    border: 1px dashed var(--font_color);
    background-color: #00000006;
    border-radius: 10px;
}

.messageCount {
    background-color: var(--input_color);
    color: var(--font_color);
    border-radius: 100%;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 0;
    margin: 4px;
}

.textCenter {
    width: 80%;
    text-align: center;
    margin: auto;
}

.countMsgBtn {
    background-color: #ff0000;
    font-weight: bold;
    border-radius: 100%;

    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

button>.countMsgBtn {
    background-color: red;
    position: relative;
}