
.loadText {
    display: block;
    width: 50%;
    background-color: #00000064;
    height: 24px;
    margin: auto;
    border-radius: 20px;
    animation: loadText 1s infinite;

}

h1 .loadText {
    width: 30%;
    margin: 0;
}

.invisible {
    display: none;
}

.widowclos {
    padding: 2px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #00000043;
}

.closbtn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 100%;
   
    z-index: 10 !important;
    border: 1px solid var(--font_color);
    background-color: var(--main_color);
    color: var(--font_color);
    transition: 0.2s linear;
}

.closbtn:hover {
    cursor: pointer;
    background-color: var(--component_color);
}

.modalAlert {
    display: none;
}

/*content*/
.content {

    min-height: 100vh;
    position: relative;
}

.section {
    position: absolute;
    right: 0;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    color: var(--font_color);

    min-height: 100%;
    z-index: 1;

    background-size: 100%;

    background-repeat: no-repeat;


}

.section h1 {
    background-color: var(--component_color);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 0 0 0 100px;
 
    box-sizing: border-box;
    padding-left: 40px;
    text-align: left;
    font-size: 24px;
    width: 100%;

}

.section>p {

    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.aside {
    width: 15%;
    top: 0;
    position: fixed;
    text-align: center;
    height: 100%;
    background-color: var(--component_color);
    box-shadow: 3px 3px 3px #000;
    color: var(--font_color);
    overflow-y: scroll;
    z-index: 4;
    padding: 0;
}

.aside ul {

    width: 100%;
   
    margin: auto;
    padding: 0;
}



.aside li {
    display: flex;
    width: 100%;
    height: 60px;
   


    font-weight: bold;
    box-sizing: border-box;
    transition: 0.4s linear;
    color: var(--font_color);
    border-style: none;
    font-size: 14px;
}
.aside li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font_color);
    width: 100%;
    height: 100%;

}

.aside li svg {
    margin-right: 10px;
}

.aside li:hover, .aside button:hover {
    cursor: pointer;
    background-color: #0000005d;

}

.profile {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: var(--modal_color);
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid var(--main_color);

}

.profile img {
    width: 100%;
    height: auto;
    transition: linear 0.3s;
}

/*login*/
.login {
    background-color: var(--modal_color);
    width: 40%;
    min-height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 10px 10px #000;
}

.login div {
    width: 80%;
    margin-top: 10px;
    margin: auto;
    text-align: center;


}

.login label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: var(--main_color);

}

.editForm, .botForm {
    max-width: 700px;
    margin: auto;
    background-color: var(--modal_color);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative
}
.botForm{
    width: 100%;
}

.botForm .blocks {
    display: flex;
}

.botForm .blocks .block {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--modal_color);
    box-shadow: none;
    width: 50%;
    backdrop-filter: initial;
    border-radius: 0%;

}

.botForm .blocks .block:nth-of-type(1) {
    padding-right: 10px;
    border-right: 2px solid var(--component_color);
}

.imageBotProfile {
    border: 5px solid var(--component_color);
    border-radius: 100%;
}

.editForm input, .botForm input {
    min-width: 300px;
}



.input_view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input_color);
    border-radius: 10px;
    width: 200px;
}

.input_view input {
    border: none;
    border-radius: 0px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.input_view svg {
    color: var(--font_color)
}

.login button {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--main_color);
    color: var(--font_color);
    font-weight: bold;
    transition: 0.3s linear;

}

.login span, .editForm span, .botForm span, span.error{
    display: block;
    margin: auto;
    margin-top: 10px;
    color: #ff0000;
    background-color: #ec9696;
    width: 60%;

    margin-top: 5px;
    padding: 2px;
    border-radius: 10px;

}

.editForm span {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.login a {
    margin: 20px
}

.btn_activate {
    color: var(--main_color)
}

.btn_activate:hover {
    cursor: pointer;
}

/*profile edit*/
.editForm, .botForm {
    width: 100%;

}

.editForm div, .botForm div {
    margin-top: 20px;
}

.editForm label {
    color: var(--main_color);
    margin-right: 10px;
    font-weight: bold;
}

.editForm input {
    width: 30%;
}

.editForm input[type="file"] {
    display: none;
}

.editForm button, .botForm button {
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: var(--main_color);
    border: 1px solid #fff;
    border-radius: 20px;
    color: var(--font_color);
    transition: 0.3s linear;
}

.profileEdit {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--modal_color);
    margin: auto;

}

.profileEdit img {

    transition: 0.2s linear;
    margin: auto;
    position: relative;
}

.profileEdit img:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: grayscale(100%)
}

.login button:hover, .editForm button:hover, .botForm button:hover {
    cursor: pointer;
    background-color: var(--component_color);
}

.controlTheme {

    position: absolute;

    top: 0;
    left: 0;
    width: 35px;
    height: 35px;

    color: var(--font_color);
    border: none;
    background-color: #00000041;
    transition: 1s linear;
    border-radius: 10px;
}

.controlTheme svg {
    width: 100%;
}

/*blocks*/
.blocks {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-gap: 10px;
    text-align: center;



}

.block, .block_normal, .blockPlus {

    margin: auto;
    margin: 4px;
    background-color: var(--modal_color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 4px;
    box-shadow: 4px 4px 2px #000;
    text-align: center;
    backdrop-filter: blur(5px);
}

.blockPlus {
    background-color: #00000038;
    box-shadow: none;
    border: 4px dashed var(--font_color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.blockPlus:hover {
    cursor: pointer;
    color: var(--link_color_hover);
    border-color: var(--link_color_hover);
    padding: 20px;
}

.blockPlus svg {
    transition: 0.2s linear;
}

.blockPlus:hover svg {
    transform: rotate(180deg);
}

.block_normal {
    overflow: hidden;

}

.block_normal img {
    width: 50%;
    border-radius: 100%;
    border: 5px solid var(--component_color);
    transition: 0.5s linear;

}

a.block_normal:hover img {
    border-color: var(--link_color_hover);
    transform: scale(1.05);
}

.block:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.botDiv {
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--font_color);
}

.botDiv .botInfo {
    width: 80%;
    font-size: 18px;
    border-left: 2px solid var(--font_color);

}

.botDiv .centeredDiv {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botDiv .botInfo ul li {
    margin: 10px;
    display: flex;

    align-items: center;
}

li .loadText, .botInfo li input {
    display: inline-block;
    margin: 0;
    width: 100px;
}

.botInfo li strong {
    margin-right: 5px;
}

.botInfo button, .centeredDiv button {
    margin: 4px;
    background-color: var(--input_color);
    color: var(--font_color);
    border: var(--font_color) 1px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s linear;
}

.botInfo button:hover, .centeredDiv button:hover {
    background-color: var(--main_color);
    cursor: pointer;
}

.errorPage {
    width: 50%;
    background-color: var(--modal_color);
    color: var(--font_color);
    margin: auto;
    text-align: center;
    margin-top: 5%;
    min-height: 250px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 3px 3px #000;
}
.activeItem {
    background-color: rgba(0, 0, 0, 0.365);
    color: #fff;
}



@keyframes loadText {
    0% {
        filter: opacity(1)
    }

    50% {
        filter: opacity(0)
    }

    100% {
        filter: opacity(1)
    }
}